<%= form_with(model: post) do |form| %>


  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

   <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
