
<div class="card">
  <h5 class="card-header">ยก Nos Gusta !</h5>
  <div class="card-body">
    <h5 class="card-title">Cuack De: <%= @post.username %> </h5>
    <p class="card-text"><%= @post.content %></p>
    <p>En total somos <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <div class="container">
    <div>
      <% Like.where(post_id: @post.id).each do |photo| %>
        <% photolink =  photo.user_id %>
          <div class="d-inline-block p-2">
            <img src="<%= User.find(photolink).photolink%>" style="width:80px;height:80px;>
            <p><%= User.find(photolink).username %></p>
          </div>
      <% end %>
    </div>
    
    <%= link_to 'Regresar', root_path , class:'btn btn-warning'%>

  </div>
</div>

